root = true

[*]
# end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,json}]
indent_style = space
indent_size = 2

[*.{html,tag,css,less,md}]
indent_style = space
indent_size = 4

[.git/config]
indent_style = tab
indent_size = 4
